global
  daemon
defaults
  mode http
  timeout connect 5s
  timeout client  50s
  timeout server  50s
frontend http_front
  bind *:80
  default_backend rpc_back
backend rpc_back
  balance roundrobin
  server rpc1 127.0.0.1:8545 check
  server rpc2 127.0.0.1:8546 check
